* {
    margin:0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

nav {
    background-color: rgb(139, 139, 250);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1em;
}

.container {
    display: flex;
	align-items: center;
	justify-content: space-around;
    flex-wrap: wrap;
    
}

nav .container {
    justify-content: space-between;
}

.logo {
    margin: 0 0 0 .45em;
    color:rgb(58, 53, 53);
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    letter-spacing: .15rem;
}

nav li a:hover {
    background: rgb(168, 86, 86);

}

nav ul li a {
    padding:1em;
    color:white;
    border-radius: 10%;

}

.bg-banner {
    background-size:cover;
    height:500px;
    width:100%;
    background-size:cover;
    background-position:50% 50%;
}

.welcome h1 {
    padding:20px 0 20px 5px;
    font-size: 10vh;
}

.welcome p {
    width:60%;
    padding: 0 30px 0 30px;
}
.welcome {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:stretch;
    margin:0px 50px 0px 50px;
}
#animal {
    width:450px;
    height:300px;
    z-index: 1;
    align-self: flex-end;
    margin-right:-100px;
}


.undraw {
    height:200px;
    width:300px;
    margin-top:-100px;
    margin-bottom:50px;
}

.about .undraw {
    margin-top:20px;
}

#squirrel {
    align-self:flex-end;
    height: 200px;
    width:150px;
    z-index: 1;
}


  
@media screen and (max-width: 500px) {
 
    nav ul li a {
        padding:5px;
        font-size:12px;
    
    }
}