*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLighter;
    src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: PopRegular;
    src: url("./fonts/Poppins-Regular.ttf");
}

body {
    font-family: PopLighter;
}

.portfolio {
    color:white;
    background:radial-gradient(rgba(43,55,96,1), rgba(11,16,35,1));
}

nav {
    min-height: 10vh;
    width:90%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 0px;
}

.logo {
    font-size: 20px;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.headshot{
    
    height: 500px;
    align-self: center;
    justify-self: center;
}

.headshot img {
    border-radius: 50%;
}

.details {
    grid-column: 2/3;
    align-self: end;
}

.details h3 {
    font-size: 42px;
    padding: 20px 0px;
}

.details p {
    font-size: 24px;
    padding: 20px 0px 50px 0px;
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
}

.pages > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages h3 {
    font-size: 24px;
    padding: 30px;
}
.pages svg {
    cursor:pointer;
    opacity:0.5;
    transform:scale(2);
}
.pages svg:hover {
    animation: dot 0.5s ease-in-out infinite alternate;
}
.pages svg.active {
    opacity: 1;
}
@keyframes dot {
    0%{
        transform: scale(2);
    }
    100%{
        transform:scale(4);
    }
}

.links img {
    width:100px;
    height:100px;
    display: inline-block;
}
