.links img {
    width:100px;
    height:100px;
    display: inline-block;
}
nav {
  position:sticky;
  top:0;
}


.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.headshot img {
    border-radius: 50%;
}
main {
    text-align: center;
    color:white;
    background: radial-gradient(rgba(29,122,105,1), rgba(150,190,184,1));
}
body {
    font-family: PopLighter;

}
@font-face {
    font-family: PopLighter;
    src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: PopRegular;
    src: url("./fonts/Poppins-Regular.ttf");
}
.jumbotron{
    color:white;
    background:radial-gradient(rgba(43,55,96,1), rgba(11,16,35,1));
    min-height:100vh;
}
